<br><br>
<div class="container m-3 m-auto">
  <div class="row">
    <div class="col-6 p-2">
      <h2>Welcome to at website ~ <b style="color: blueviolet;">GAT AL7AZENA TEFRA7 ..</b></h2>
      <br>
      <p>Lorem ipsum, <b>website</b> amet consectetur adipisicing elit. Iure laudantium voluptates ipsam harum animi laborum
        incidunt numquam quaerat dolorem quo corrupti et, earum deleniti. Quaerat fugiat consequuntur nemo explicabo ipsam?
      </p>
      <p>Lorem ipsum, adipisicing elit. Iure laudantium voluptates ipsam harum animi laborum
        incidunt numquam quaerat dolorem quo corrupti et, earum deleniti. Quaerat fugiat consequuntur nemo explicabo ipsam? ipsum, adipisicing elit. Iure laudantium voluptates ipsam harum animi laborum
        incidunt numquam quaerat dolorem quo corrupti et, earum deleniti. Quaerat fugiat consequuntur nemo explicabo
      </p>
    </div>
    <div class="col-6 p-2">
      <img width="80%" src="assets/images/welcome.jpg" alt="">
    </div>
  </div>


</div>
